* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2e3b3b;
}

.menucontainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Hamburger code below */

.hamburger-center {
    left: 50%;
    margin-left: -20px;
    transition: .25s;
    transition-timing-function: ease-in-out;
}

.hamburger-left {
    left: 10%;
    margin-left: -20px;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.hamburger-right {
    left: 90%;
    margin-left: -20px;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

#hamburger {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    background-color: #dbdbdb;
    position: absolute;
}

#hamburger span {
    height: 3px;
    width: 80%;
    margin: 2px;
    background-color: rgb(70, 70, 70);
}

@media screen and (orientation:landscape) {
   
    .hamburger-left {
        left: 5%;
        margin-left: -20px;
        transition: .3s;
        transition-timing-function: ease-in-out;
    }
    
    .hamburger-right {
        left: 95%;
        margin-left: -20px;
        transition: .3s;
        transition-timing-function: ease-in-out;
    }
}

/* Dropdown code below */

.dropdown-center {
    left: 50%;
    margin-left: -20px;
    transition: .25s;
    transition-timing-function: ease-in-out;
}

.dropdown-left {
    left: 10%;
    margin-left: -20px;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.dropdown-right {
    left: 90%;
    margin-left: -180px;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

#dropdown {
    opacity: 0;
    height: 0vh;
    width: 200px;
    margin-top: 50px;
    background-color: #dbdbdb;
    position: absolute;
}

@media screen and (orientation:landscape) {
   
    .dropdown-left {
        left: 5%;
        margin-left: -20px;
        transition: .3s;
        transition-timing-function: ease-in-out;
    }
    
    .dropdown-right {
        left: 95%;
        margin-left: -180px;
        transition: .3s;
        transition-timing-function: ease-in-out;
    }
}
